################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/googletest
/build
/.vs
/out
/CMakeSettings.json
